/* CSS Variables here */
:root {
  --light: rgb(233, 227, 222);
  --dark: rgb(44, 44, 44);
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Oswald', sans-serif;
}

div.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: rgb(44, 44, 44);
  color: var(--light);
}

header .navigation ul{
  display: flex;
  list-style: none;
  gap: .5rem;
}

header a {
  text-decoration: none;
  color: var(--light);
  transition: all .3s ease-in-out;
  text-decoration-color: transparent;
}

nav a:hover {
  text-decoration-color: var(--light);
  text-decoration: underline;
}

footer {
  background-color: rgb(44, 44, 44);
  margin-top: auto;
  padding: .5rem
}

footer > small{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
}

main.gallery {
  padding: 1rem;
  display: grid;
  gap: .5rem;
  grid-auto-rows: 150px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: dense;
}


.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.gallery-grid-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

i {
  color:rgb(255, 255, 255);
  filter: drop-shadow(0px 0px 1px rgb(0 0 0 / .5));
  font-size: clamp(1rem, -0.875rem + 8.333vw, 1rem);
  cursor: pointer;
}

i.favorite {
  position: absolute;
  left: 1rem;
  top: 1rem;
  opacity: .9;
}

i.cart {
  position: absolute;
  right: 1rem;
  top: 1rem;
  opacity: .8;
}

/* Cart Page Styling */

/* .cart-container {
  padding: .5rem 1rem;
  width: 100%;
} */

main.cart {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.cart-container {
  min-width: 100vw;
}

.cart-container > h1 {
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem;
}

.cart-item-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .5rem 2rem;
  margin: .5rem 0;
  background-color: rgb(245, 245, 245);
}
.cart-item-container > p {
  padding: 0;
  margin-left: -3rem;
}

.cart-item-container > i {
  color: rgb(0, 0, 0);
}


.cart-img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  margin: 0;

}

/* .wide {
  grid-column: span 2;
}

.tall {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
} */